body
{
    background-color: black;
    color: white;
}

.container
{
    display: flex;
    gap: 0.7rem;
}

.logo
{
    filter: invert(1);
}

.home
{
    height: 19vh;
    background-color: #121212;
    border-radius: 10px;
    margin-bottom: 2vh;
    padding: 0.3rem;
}

.home ul
{
    padding: 0px;
}

.home li
{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.home li img
{
    width: 1.4rem;
    filter: invert(1);
}


.left
{
    width: 20vw;
    border-radius: 10px;
}

.right
{
    padding: 0.3rem;
    width: 80vw;
    border-radius: 10px;
    height: 100vh;
    background-color: #121212;
}
.lib
{
    padding: 0rem;
    height: 79vh;
    background-color: #121212;
    border-radius: 10px;
}