body
{
    background-color: black;
    color: white;
    margin: 2px;
}

.container
{
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}

.left
{
    width: 20vw;
    border: 1px solid;
}
.right
{
    width: 80vw;
    border: 1px solid;
}